@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,700;1,100&display=swap');

body {
  font-family: 'Montserrat', sans-serif;
  background-color: #101010;
  margin: 0;
}

h2{
  font-weight: bold;
}

.eventCardContainer{
  background-color: #f1f1f2;
  text-align:center;
  max-width: 400px;
  padding: 20px;
  margin: 20px 0 10px 0;
  min-height: 100px;
  border-radius: 10px;

  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: left;
}

.eventTable{
  text-align: right;
}

.eventTablecell{
  padding:3px;
  text-align: right;
}

.eventTablecell2{
  text-align: left;
}

#eventTableEventName{
  font-weight: bold;
  font-size: 20px;
  text-align:left;
}

#changeDate{
  font-weight: bold;
  font-size: 18px;
}

.linkToEventsPage{
  text-decoration: none;
  color: black;
}

.eventCardContainer:hover{
  background-color: #e5e5e7;
}

#deleteButton{
  width:50%;
}

button.submit-button.hidden{
  display:none;
}

#eventCreation-id{
  float : left
}